# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# build and client
client/dist/*bundle.js
*bundle.js.map
client/dist/*.JPG
client/dist/*.jpg
client/dist/*.png
client/dist/*.jpeg

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# jest coverage
coverage/

# mac
.DS_Store