/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* import constants */
@import './constants.css';

/* #region  HTML AND BODY */

html,
body {
  margin: 0;
  padding: 0;
}

html *,
body * {
  margin: 0;
  padding: 0;
  font-family: 'Courier Prime', monospace;

  /* prevent text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* #endregion */
